body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-logo {
  padding: 20px 0 20px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbar-icon {
  margin: 20px 30px 20px 0;
  padding: 10px;
  font-size: x-large;
  color: #000;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 992px) {
  .navbar .navbar-icon {
    display: none;
  }
}

.navbar .navbar-collapse .navbar-nav .nav-link {
  padding: 20px;
  font-weight: 700;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.navbar .navbar-collapse .navbar-nav .nav-link:hover {
  color: #E1007A !important;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .navbar-collapse .navbar-nav .navbar-nav-toggler {
  text-align-last: center;
}

.navbar .navbar-collapse .navbar-nav .navbar-nav-toggler .switch input {
  display: none;
}

.navbar .navbar-collapse .navbar-nav .navbar-nav-toggler .switch {
  display: inline-block;
  width: 70px;
  height: 25px;
  margin: 8px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  position: relative;
}

.navbar .navbar-collapse .navbar-nav .navbar-nav-toggler .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 0 2px #777, 0 0 4px #777;
          box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .navbar-collapse .navbar-nav .navbar-nav-toggler .slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #777;
  border-radius: 30px;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .navbar-collapse .navbar-nav .navbar-nav-toggler input:checked + .slider:before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  background: #E1007A;
}

.navbar .navbar-collapse .navbar-nav .navbar-nav-toggler input:checked + .slider {
  -webkit-box-shadow: 0 0 0 2px #E1007A,0 0 2px #E1007A;
          box-shadow: 0 0 0 2px #E1007A,0 0 2px #E1007A;
}

@media screen and (min-width: 992px) {
  .navbar .navbar-collapse .navbar-nav .navbar-nav-toggler {
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .navbar .navbar-collapse .navbar-nav .navbar-nav-toggler {
    padding-bottom: 40px;
  }
}

.main .text-center {
  padding: 60px 0 30px 0;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .text-left, .main .text-right {
  background-color: rgba(247, 247, 247, 0.3);
  position: absolute;
  color: black;
  z-index: 999;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: default;
}

@media screen and (min-width: 992px) {
  .main .text-left, .main .text-right {
    top: 53%;
  }
}

@media screen and (max-width: 991px) {
  .main .text-left, .main .text-right {
    top: 76%;
  }
}

.main .text-left {
  left: -16%;
}

@media screen and (max-width: 1115px) {
  .main .text-left {
    left: 5%;
    top: 76%;
  }
}

.main .text-right {
  right: -16%;
}

@media screen and (max-width: 1115px) {
  .main .text-right {
    right: 5%;
    top: 76%;
  }
}

.main .text-initial {
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
}

.main .text-bold {
  margin: 10px;
  font-size: 50px;
  font-weight: 800;
}

@media screen and (max-width: 400px) {
  .main .text-bold {
    font-size: 35px;
  }
}

.main .main-left:hover > .text-left {
  -webkit-transform: translate(20px, 0%);
          transform: translate(20px, 0%);
}

.main .main-right:hover > .text-right {
  -webkit-transform: translate(-20px, 0%);
          transform: translate(-20px, 0%);
}

.main .main-img {
  height: 500px;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.main .main-img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main .main-img .main-img-left, .main .main-img .main-img-right {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.main .main-img #main-img-saloon {
  background-image: url("../img/img-saloon.jpg");
}

.main .main-img #main-img-dinosaur {
  background-image: url("../img/img-dinosaur.jpg");
}

.details {
  position: relative;
}

.details .background {
  position: absolute;
  background-color: #f7f7f7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 0;
  right: 0;
  z-index: -1000;
  top: -177px;
  height: 500px;
}

@media screen and (max-width: 1400px) {
  .details .background .details-btn {
    text-align-last: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 177px;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1401px) {
  .details .background .details-btn {
    z-index: 1000;
    float: right;
    padding: 20px 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details .background .details-text {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: mixed;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    font-size: 15px;
    letter-spacing: 2px;
    color: #353535;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.details .background .details-img {
  height: 35px;
  margin-top: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.details .background .details-img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
/*# sourceMappingURL=style.css.map */