

// Global

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    transition: 0.3s;
}


// Navbar


.navbar {
    border-bottom: solid 1px #fff;
    background-color: #000;
    transition: 0.3s;

.navbar-logo {
    padding: 20px 0 20px 30px;
    transition: 0.3s;
}
.navbar-icon {
    margin: 20px 30px 20px 0;
    padding: 10px;
    font-size: x-large;
    color: #E1007A;
    background-color: #fff;
    border: solid 1px #E1007A;
    border-radius: 5px;
    transition: .3s;
    @media screen and (min-width: 992px) {
        display: none;
    }
}
.navbar-collapse {

    .navbar-nav {
        .nav-link {
            padding: 20px;
            font-weight: 700;
            color: #fff;
            transition: 0.3s;
            text-align: center;
            &:hover {
                color: #E1007A !important;
                transition: .4s;
            }
        }
    
// Début du toggler

.navbar-nav-toggler {
    text-align-last: center;
    .switch input { 
        display:none;
    }
    .switch {
        display:inline-block;
        width:70px;
        height:25px;
        margin:8px;
        transform:translateY(50%);
        position:relative;
    }
    .slider {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        border-radius:30px;
        box-shadow:0 0 0 2px #777, 0 0 4px #777;
        cursor:pointer;
        border:4px solid transparent;
        overflow:hidden;
         transition:.4s;
    }
    .slider:before {
        position:absolute;
        content:"";
        width:100%;
        height:100%;
        background:#777;
        border-radius:30px;
        transform:translateX(-30px);
        transition:.4s;
    }
    input:checked + .slider:before {
        transform:translateX(30px);
        background:#E1007A;
    }
    input:checked + .slider {
        box-shadow:0 0 0 2px #E1007A,0 0 2px #E1007A;
    }
    @media screen and (min-width: 992px) {
        padding-left: 20px;
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 40px;
    }
}


// Fin du toggler

    }
}
}

// Les textes du Main


.main {
    .text-center {
        padding: 60px 0 30px 0;
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        color: #fff;        
        transition: 0.3s;
    }
    .text-left, .text-right {
        background-color: rgba(20, 0, 11, .3);
        position: absolute;
        color: #fff;
        z-index: 999;
        transition: .3s ease-in-out;
        cursor: default;
        @media screen and (min-width: 992px) {
            top: 53%;
           }
       @media screen and (max-width: 991px){
           top: 76%;
           }
    }
    .text-left {
        left: -16%;
        @media screen and (max-width: 1115px) {
            left: 5%;
            top: 76%;
           }
    }
    .text-right {
        right: -16%;
        @media screen and (max-width: 1115px) {
            right: 5%;
            top: 76%;
           }
    }
        .text-initial {
            font-size: 15px;
            font-weight: 700;
            margin: 10px;            
        }
        .text-bold{
            margin: 10px;            
            font-size: 50px;
            font-weight: 800;
            @media screen and (max-width: 400px){
                font-size: 35px;
                            }
        }


    // Les photos du Main


    .main-left {
        &:hover > .text-left {
            transform: translate(20px, 0%);
        }
    }

    .main-right {
        &:hover > .text-right {
            transform: translate(-20px, 0%);
        }
    }

    .main-img {
        height: 500px;
        overflow: hidden;
        margin-bottom: 20px; 
       transform: scale(1);
        transition: .3s ease-in-out;
        &:hover{
        transform: scale(1.02);        
         }

        .main-img-left, .main-img-right {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;            
        }
        #main-img-saloon {
            background-image: url('../img/img-saloon.jpg');
        }
        #main-img-dinosaur {
            background-image: url('../img/img-dinosaur.jpg');
        }
    }
}


// Details


.details {
    position: relative;
    .background {
        position: absolute;
        background-color: #14000b;
        transition: 0.3s;
        left: 0;
        right: 0;
        z-index: -1000;
        top: -177px;
        height: 500px;
        @media screen and (max-width: 1400px) {
            .details-btn {
               text-align-last: center;
               transition: 0.3s;
               margin: 170px 0 0 0;
               float: none;
               display: flex;
               flex-direction: column;
               color: #fff;
            }
          }
        
    @media screen and (min-width: 1401px) {
        .details-btn {
            z-index: 1000;
            float: right;
            padding: 20px 10px 0 0;
            display: flex;
            flex-direction: column;
              }
              .details-text {
                writing-mode: vertical-rl;
                text-orientation: mixed;
                transform: rotate(180deg);
                font-size: 15px;
                letter-spacing: 2px;
                color: #fff;
                transition: 0.3s;
            }
        }
       
            .details-img {
                height: 35px;
                margin-top: 15px;
                transition: all .2s ease-in-out;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.3);
            }
        }

    }
}